/test_video
/video_111
/save_fig
/photo_test
/photo_test2
/assets
/__pycache__
/z_utils/__pycache__
/test8
/test12
/test16
/test17
/test24
/test25
/test44
/video
/video_10
/video_11
/video_14
/video_15
/video_16
/video_20
/video_66
/video_77
/video_88
/video_99
/111
/output
/.ipynb_checkpoints
